{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTu3nes Movie trailers</h1>
        <div class="row">
            {% for trailer in trailers %}
                <div class="col-md-4">
                    <img src="{{ trailer.image }}" class="posters"/>
                    <a href="/movie/{{ trailer.slug }}"><h5 style="">{{ trailer.title }}</h5></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
